<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fos.com.fos" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="fos.com.fos.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="fos.com.fos.permission.C2D_MESSAGE" />

    <application
        android:name=".App.Application"
        android:allowBackup="true"
        android:icon="@drawable/logo_fos"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="fos.com.fos" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.SignupActivity"
            android:label="@string/title_activity_signup"
            android:parentActivityName=".activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.MainCategoryActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.ItemActivity"
            android:label="@string/title_activity_item"
            android:parentActivityName=".activity.MainCategoryActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fos.com.fos.activity.MainCategoryActivity" />
        </activity>
        <activity
            android:name=".activity.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".activity.MainCategoryActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fos.com.fos.activity.MainCategoryActivity" />
        </activity>
        <activity
            android:name=".activity.OwnerActivity"
            android:label="@string/title_activity_owner" >
        </activity>
    </application>

</manifest>
